* {
    margin: 0;
    padding: 0;
}

.content {
    background-color: rgb(198, 58, 58);
    color:rgb(255, 255, 255);
    font-size: 24px;
}

.button {
    background-color: rgb(94, 94, 251);
    color:rgb(255, 255, 255);
    border: 2px solid rgb(177, 188, 245);
    padding: 5px;
}